/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px 0 15px;
}

.container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure header is above other content */
    border-radius: 0 0 12px 12px; /* Rounded corners for the header */
}

/* Transparent header styles */
#main-header.transparent {
    /*  */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust transparency as needed */
    /* blur */
    backdrop-filter: blur(10px);
    
}
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.transparent {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust transparency as needed */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo-container a {
    color: rgb(7, 3, 114)
}

.logo-img {
    height: 50px;
    border-radius: 20%;
}

.logo-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 10px; /* Adjust margin as needed */
}

header h1 {
    margin-left: 20px;
    font-size: 1.8rem;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li {
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #007bff;
}


/* Download section */
#download {
    padding: 100px 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

#download h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#download p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.download-btn {
    background-color: #007BFF; /* Your desired button color */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px;
    text-transform: uppercase;
}
/* Contact form section */
#contact-form-section {
    margin-top: 100px; /* Adjust spacing as needed */
    padding-bottom: 50px; /* Adjust padding as needed */
    text-align: center;
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #0056b3;
}

.success-message,
.error-message {
    display: none;
    margin-top: 10px;
    color: #4CAF50;
}

.error-message {
    color: #ff3333;
}


/* Style for footer */
#footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Additional styling for the container inside the footer */
#footer .container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the content horizontally */
}


.legal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.legal-container p {
    margin: 10px;
}

.legal-container a {
    font-weight: bold;
    color: rgb(7, 3, 114);
}

